* , *::before , *::after{
    box-sizing: border-box;
}
body {
    margin : 0 ; 
    font-family: "Roboto", sans-serif;
    display : flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    background:
            linear-gradient(rgba(0,0,0, 0.6) , rgba( 0,0,0, 0.6)),
            url("images/movie.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width : 100%; 
    
    display: flex ;
    justify-content: space-between;
    align-items: center;
    color : #ffffff; 
    font-weight: 700;
    height: 300px;
    padding : 0 .4rem;

}
h1{
    margin-top: 0;
    margin-left: 0rem;
    width : 55%;

}
header nav ul{
    list-style-type: none;
}
nav ul li  a {
    color : #ffffff;
    text-decoration: none;
    margin-right: 3px ;
    margin-top: 0;
    font-weight: 600;
    font-size: 1.2rem;

}
#movies{
    width : 100%;
    
}
#search-bar  {
    position:absolute;
    padding : 0 .4rem; 
    height: 40px;
    width: 90%;
    max-width: 550px;
    border: none;
    border-radius: 3px ;
    top :17rem ; 
    right: 50%;
    transform: translateX(50%);
    box-shadow: 1px 1px 15px #252525;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
}
#movieName{
    border : none;
    height: 100%;
    width : 77%;
    font-weight: 700;
    padding : 0 .5rem;
}
#movieName:focus{
    outline: none;
}
#search{
    height: 100%;
    background-color: #ffffff;
    border: none;
    font-weight: 600;
    width : 12%;
    color : gray;
    border-left: 1px solid #808080;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;

}
.icon{
    color : #808080;
    border : none;
}
.moviesCon{
    width : 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 6rem;
    margin-bottom: 4rem;
    color : #808080;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%; 
    text-align: center;
}
.fa-film{
    font-size: 4rem;
}
.empty{
    width :90%; 
    margin: 2px auto;
}
.move{
    display: flex;
    color : #000000;
    gap : 2px  ;
    text-decoration: none;
    margin-top: 4rem;
    font-weight: 600;
}
.move p {
    margin: 0;
}

.movie{
    display : flex;
    flex-direction: column; 
    width : 100%;
    margin: 1.5rem .5rem ;
    padding:  0 .5rem;
    height: fit-content; 
    justify-content: center;
    align-items: center;
}
h2{
    width : 90%; 
}
.movieCon{
    display: flex;
    gap : .5rem;
    
}
.poster{
    width:90% ; 
    /* height: 300px; */
    margin-right: 1rem;
    height: 380px;
    border-radius: 2px;
    
}
.plot{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: .7rem;
}
#Sorry{
    text-align: center;
}
.add , .remove{
    display : flex;
    font-weight: bold;
    font-size: 1rem;
    width: 100px;
    border: none;
    background-color: #ffffff;
    margin-top: 1rem;
    cursor: pointer;
    height: 1.8rem;
}
.fa-circle-plus ,.fa-circle-minus{
    margin-right: .2rem;
}
.fa-star{
    color: #ffd700;
}
.rate{
    display: flex;
}
.movie-info{
    display : flex ;
    flex-direction: column;
    justify-content: center;
}
#OpenId{
    width : 60px ;
    height: 60px ;
    border-radius: 50%;
    background-color: #ffd700;
    color : #252525;
    font-weight: bold;
    padding : .2rem .2rem; 
    border : solid 1px #252525;
    font-size: 1.5rem;
    cursor: pointer;
    
    margin: .4rem .5rem;
    position: fixed;
    bottom: 5px ;
    left : 3px;
    box-shadow: 1px 1px 1.2rem #252525;
}

#chat-bar{
    display : flex; 
    gap : 0 ; 
    font-weight: 600;
    border : solid 1px #808080;
    border-radius:.1rem ;
    width : 95%; 
    margin-left:.5rem;
    margin-bottom: 1rem;
}

#AIinputs{
    width : 80%;
    padding: .4rem .6rem;
    font-weight: 600;
    resize: none;
    overflow-y: hidden;
    min-height: 40px;
    max-height: 150px;
    
    
}
#send{
    width : 20%;
    background-color: #ffffff;
    border : solid 1px #808080;
    cursor: pointer;
}
#AI{
    display : flex;
    flex-direction: column;
    width: 90%; 
    max-width: 25rem;
    border : solid 1px #252525;
    margin: .5rem auto;
    position: fixed;
    top : 58%;
    left : 50%;
    transform: translate(-50% , -50%);
    background-color: #252525;
    color: #ffffff;
    height: 60vh;
    gap: 2rem;
    padding : .8rem 1rem;
    text-align: center;
    justify-content: space-between;
}
#messages{
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
h3{
    font-size: 1.7rem;
}

@media(min-width : 640px ){
    header{
        display: flex;
        gap : 10rem ;
        height: 500px;
        padding : 0 4rem;
    }
    nav ul li a {
        font-size: 1.5rem;
        
    }
    #search-bar{
        top: 30rem; 
        height:45px  ;
    }
    .movie{
        width: 100%;
        flex-direction: row;
        border-bottom: 1px solid #808080;
    }
    .poster{
        margin-top: 2rem;
        min-width: 350px;
        max-width: 350px;
        margin-left: 0rem;
        margin-right: 2rem; 
        
    }
    .plot{
        max-width: 600px;
    }
    #AI{
        left : 10px;
        transform: none;
        top: 18%;
        height: 70vh;
    }


}